div.container {
  height: 100%;
  width: 100%;
}

div.container div.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* page title
    background color red light
    textcolor red
*/
div.container header {
  background-color: #be123c;
}

div.container header h1 {
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
